[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
jupyterlab = "*"
matplotlib = "*"
jupytext = "*"
bpython = "*"
pandas = "*"
"mpld3" = "*"
scipy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
